html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="author" content="Chris McCormack")

        link(rel="stylesheet" type="text/css" href="./styles/styles.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")

        link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
        link(rel="manifest" href="/images/site.webmanifest")
        link(rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="/images/favicon.ico")

        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content="/images/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")
    body
        header
            h1= header

        main
            section#example_usage
                span.section-title Example Usage
                pre /api/stock-prices?stock=goog
                pre /api/stock-prices?stock=goog&like=true
                pre /api/stock-prices?stock=goog&stock=msft
                pre /api/stock-prices?stock=goog&stock=msft&like=true

            section#example_return
                span.section-title Example Return
                pre GET /api/books
                pre {"stockData":{"stock":"GOOG","price":"1157.35","likes":1}}
                pre.
                    { "stockData":[
                        { "stock":"AAPL", "price":"224.29", "rel_likes":-1 },
                        { "stock":"GOOG", "price":"1157.35", "rel_likes":1 }
                    ]}
            section#try_it
                span.section-title Try It Yourself!
                form#single_stock_form(action="/api/stock-prices/" method="GET")
                    span.form-title Get price and likes of a single stock
                    div.input-row
                        label(for="title_input") Stock Symbol
                            span  - Required
                        input(type="text" placeholder="AAPL" name="symbol" required minLength="4" maxLength="5")

                    div.input-row.checkboxes
                        input(type="checkbox" name="like" value="Like Stock")
                        label(for="like_single_input") Like Stock?
                    button.submit-btn(type="submit") Get Price!
                    
                    div.input-row
                        pre#try_it_single_stock.output.hidden


                form#multiple_stock_form(action="/api/stock-prices/" method="GET")
                    span.form-title Compare multiple stocks and get relative likes
                    div.input-row
                        label(for="symbol_a_input") Stock Symbol
                            span  - Required
                        input#symbol_a_input(type="text" placeholder="AAPL" name="symbol_a" required minLength="4" maxLength="5")
                    div.input-row
                        label(for="symbol_b_input") Stock Symbol
                            span  - Required
                        input#symbol_a_input(type="text" placeholder="GOOG" name="symbol_b" required minLength="4" maxLength="5")

                    div.input-row.checkboxes
                        input#like_multiple_input(type="checkbox" name="like" value="Like Stocks")
                        label(for="like_multiple_input") Like Stocks?
                    button.submit-btn(type="submit") Get Prices!
                    
                    div.input-row
                        pre#try_it_multiple_stock.output.hidden

        script(src="scripts/scripts.js")
